body {
  font-family: 'Poppins', sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

h2 {
  color: #333;
}

.nav-link:hover .underline {
  width: 100%;
}

.nav-link:hover {
  color: #93c5fd !important;
}
